@use 'variables'

.mainLogin
  display: flex
  
.aside
  @include variables.centerBlocks
  background: variables.$secondary

.rightScreen
  @include variables.centerBlocks
  gap: 1rem
  background: variables.$primary
  & p
    text-align: center
    & .link
      text-decoration: none
      color: variables.$secondary
      &:hover
        filter: brightness(0.9)
        cursor: pointer

.input
  @include variables.btn(1rem, false, true)
  @include variables.focusStyle(variables.$secondary)
  background: variables.$primary-shadow
  box-shadow: 2px 2px 5px variables.$shadow

.radio
  display: flex
  align-items: center
  input[type="radio"]
    width: 1rem
    height: 1rem
    margin-inline: 0.5rem
    cursor: pointer 
    &:not(:checked)
      position: relative
      @include variables.radioBefore(-2px, -2px, 1rem, 1rem)    
    &:checked
      position: relative
      @include variables.radioBefore(-2px, -2px, 1rem, 1rem)
      @include variables.radioAfter(2px, 2px, 0.5rem, 0.5rem)
        
.inputBtn
  @include variables.btn(1.2rem, false, false)
  margin-top: 40px
  background: variables.$secondary
  color: variables.$primary-shadow
  @include variables.focusStyle(variables.$shadow)

.inputGoogle
  @include variables.btn(1rem, true, false)
  background: variables.$googleRed
  color: variables.$primary-shadow
  @include variables.focusStyle(variables.$secondary)
  
.inputFacebook
  @include variables.btn(1rem, true, false)
  background: variables.$facebookBlue
  color: variables.$primary-shadow
  @include variables.focusStyle(variables.$secondary)

.checkerContainer
  display: flex
  padding-inline: 2rem
  justify-content: space-between
  gap: 2rem
  color: variables.$secondary

.checkLabel
  display: flex
  align-items: center
  justify-content: flex-end
  color: variables.$secondary

.checkbox
  display: flexbox
  justify-content: center
  width: 1rem
  height: 1rem
  margin-inline: 0.5rem
  cursor: pointer  

#basePage
  display: flex
  overflow-x: hidden 
  flex-direction: column

#content
  display: flex

//NavBar
.profile
  position: relative
  display: flex
  color: variables.$primary
  gap: 1rem
  & .picture
    width: 73px
    height: 73px
    border-radius: 50%
    overflow: hidden
  & .online
    position: absolute
    width: 0.8rem
    height: 0.8rem
    background: variables.$online
    border-radius: 50%
    top: 80%
    left: 20%

.nav
  display: flex
  width: 100vw
  justify-content: space-between
  align-items: center
  padding-inline: 4rem
  padding-block: 1rem 
  background: variables.$secondary
//------------------------------


.categories
  display: flex
  flex-direction: column
  justify-content: flex-start
  align-items: center
  padding: 1rem
  background: variables.$primary-shadow
  min-height: calc(100vh - 100px)
  & .optionsMenu
    display: flex
    justify-content: space-between
    gap: 2rem
    color: variables.$btnPrimary
    padding-bottom: 2rem
    z-index: 10
    & .selection
      display: flex
      flex-direction: column
      align-items: center
      position: relative
      & .functionBtnOff
        @include variables.functionBtn(nameAnimationOff)
        z-index: 0
      & .functionBtnIn
        @include variables.functionBtn(nameAnimationIn)
        z-index: -1 
     
  & .divider
    margin-top: 1rem
    background: variables.$secondary
    width: 80%
    height: 2px
    border-radius: 10px
  & .search
    position: relative
    margin: 1rem
    & .input
      border-radius: 50px
      cursor: pointer
    & .imgSearch
      position: absolute
      right: 0.8rem
      top: 0.3rem
      cursor: pointer

  & .listCategories
    width: 90%
    margin-inline: 2rem
    padding-bottom: 5px
    & .summary
      @include variables.focusStyle(variables.$secondary)     
      font-weight: 600
      padding-inline: 1rem
      list-style: none
    ul
      border-left: solid
      border-bottom: solid
      margin-left: 1rem
    li
      list-style: none
    & a
      padding-left: 0.5rem
      text-decoration: none
      @include variables.focusStyle(variables.$secondary) 

.cardsHeader
  display: flex
  width: 100%
  justify-content: space-between
  align-items: center
  h2, h5
    width: fit-content
.card
  display: flex
  gap: 0.5rem
  margin-block: 1rem
  & .itemPic
    border-radius: 10px
    box-shadow: 2px 2px 15px variables.$primary-shadow
  & .boxTexto
    display: flex
    flex-direction: column
  & .buyContainer
    display: flex
    flex-direction: column
    justify-content: flex-end
    height: 100%
  & .btnCompra
    width: 100%
    padding-top: 5rem
    padding: 0.5rem 1rem
    border-radius: 5px
    border: none
    background: variables.$btnPrimary
    color: variables.$primary
    border: solid

.mainPage
  display: grid
  width: 100%
  padding: 1rem 2rem
  background: variables.$primary

@media ( max-width:850px )
  .aside
    width: 0px
  .rightScreen
    width: 100vw
  
  .nav
    padding: 1rem
  

